body{
    background-image: url('/images/bg.jpg');
    background-position:  center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0 5%;
}

nav{
    display: flex;
    flex-direction: row;
    height: 20vh;
}

nav .nav-menu-icon{
    display: none;
}

nav .nav-items{
    list-style-type: none;
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .branding-image{
    flex: 1;
    margin: auto;
}

.nav-logo img{
    height: 120px;
}

.nav-logo{
    display: block;
}
.nav-link{
    text-decoration: none;
    color: #E03B8B;
    font-size: 25px;
}

.nav-button{
    background-color: #E03B8B;
    border: none;
    padding: 5px 40px;
    color: white;
    border-radius: 20px;
    cursor: grab;
}

.container{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80vh;
}

.col{
    display: flex;
    flex: 0.5;
    min-height: 100%;
}

.col-2{
    overflow: hidden;
}

.home-image{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80%;
}

.col-1{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #E03B8B;
}

.col-1 p{
    font-size: 25px;
}

.col-1 h1{
    font-size: 75px;
}

.google-play-button{
    height: 90px;
}

@media screen and (max-width: 1230px){
    .home-image{
        height: 60%;
    }

    nav .nav-items{
        display: none;
    }

    nav .nav-menu-icon{
        display: block;
        margin: auto;
    }

    nav .nav-menu-icon i{
        color: white;
        font-size: 20px;
    }

    .col-1{
        align-items: center;
    }
}